service routing protocols model multi-agent

ip routing


route-map UNDERLAY-RM permit 10
   match interface Loopback0
route-map UNDERLAY-RM permit 20
   match interface Loopback1

!
router bgp {{leaf_asn}}
   router-id {{router_id}}
   maximum-paths 3 ecmp 3
   distance bgp 20 200 200
   graceful-restart restart-time 300
   graceful-restart
   neighbor UNDERLAY peer-group
   neighbor UNDERLAY fall-over bfd
   neighbor UNDERLAY maximum-routes 100000
   neighbor UNDERLAY soft-reconfiguration inbound all
   neighbor UNDERLAY allowas-in 1
   neighbor UNDERLAY send-community standard extended
   neighbor UNDERLAY remote-as {{spine_asn}}
   neighbor UNDERLAY password {{ bgp_password }}
{% for int in uplinks %}
   neighbor {{int.linknet | ipaddr('address') }} peer-group UNDERLAY
{% endfor %}
   neighbor EVPN peer-group
   neighbor EVPN allowas-in 1
   neighbor EVPN remote-as {{spine_asn}}
   neighbor EVPN next-hop-unchanged
   neighbor EVPN update-source Loopback0
   neighbor EVPN ebgp-multihop 2
   neighbor EVPN soft-reconfiguration inbound all
   neighbor EVPN send-community standard extended
   neighbor EVPN maximum-routes 100000
   neighbor EVPN password {{ bgp_password }}
{% for spine in route_servers %}
   neighbor {{spine}} peer-group EVPN
{% endfor %}
   !
   address-family evpn
      neighbor EVPN activate
   !
   address-family ipv4
      no neighbor EVPN activate
      neighbor UNDERLAY activate
      redistribute connected route-map UNDERLAY-RM
   !
{% for vlan in site_vlans %}
   vlan {{vlan.vlan_id}}
      rd {{router_id}}:{{vlan.vlan_id+10000}}
      route-target both {{vlan.vlan_id+10000}}:{{vlan.vlan_id+10000}}
      redistribute learned
   !
{% endfor %}
      exit
   !
   exit

