!
{% if single_handovers is defined and single_handovers|length > 0 %}
{% for onearmed in single_handovers %}
{% for key, value in onearmed.items() %}
!
default interface {{value.interface}}
!
{# can remove this block when https://github.com/ansible/ansible/issues/43336 is fixed #}
{% for vlan in site_vlans %}
{% if vlan.tags is defined %}
{% if (value.native is defined and value.native in vlan.tags) %}
vlan {{vlan.vlan_id}}
   name {{vlan.vlan_name}}_{{vlan.vlan_id}}
{% endif %}
{% endif %}
{% endfor %}
{# end of block to be removed when https://github.com/ansible/ansible/issues/43336 is fixed #}
!
interface {{value.interface}}
   description {{value.description}}
   mtu 9100
   spanning-tree portfast
{# mcast storm control is a little inexact at lower speeds and we aren't really concerned about mcast traffic replication at rates under 2.5Gbps #}
{% if value.speed is defined and value.speed != "1000full" and ansible_net_model != "DCS-7020TR-48-R" %}
   storm-control multicast level 25
{% endif %}
   storm-control broadcast level 25
{% if value.type in ('colo_onearm_switch') %}
   spanning-tree bpdufilter enable
   sflow enable
   no lldp transmit
   no lldp receive
{% elif value.type in ('client', 'service_provider') %}
   spanning-tree bpduguard enable
   sflow enable
   no lldp transmit
   no lldp receive
{% elif value.type == 'infrastructure' %}
   spanning-tree bpduguard enable
   no sflow enable
   lldp transmit
   lldp receive
{% endif %}
   switchport mode trunk
   switchport trunk allowed vlan none
{# VLAN options - native vlan, vlans permitted over trunk #}
{% for vlan in site_vlans %}
{% if vlan.tags is defined %}
{% if (value.native is defined and value.native in vlan.tags) %}
   switchport trunk allowed vlan add {{vlan.vlan_id}}
   switchport trunk native vlan {{vlan.vlan_id}}
{% elif value.tags is defined %}
{% for tags in value.tags %}
{% if tags == 'all' %}
   switchport trunk allowed vlan all
{% elif tags in vlan.tags %}
   switchport trunk allowed vlan add {{vlan.vlan_id}}
{% endif %}
{% endfor %}
{% endif %}
{% endif %}
{% endfor %}
{# Optional parameters here: vlan xlate, state, speed #}
{# 7020 doesn't support vlan xlate as of 4.20.6F, but it is roadmapped #}
{% if ansible_net_model != "DCS-7020TR-48-R" %}
{% if value.xlate is defined %}
{% for translation in value.xlate %}
   switchport vlan mapping {{translation.src}} {{translation.dst}}
{% endfor %}
{% endif %}
{% endif %}
{# can remove this conditional when 7020TR supports vlan xlate #}
{% if value.state is defined %}
   {{value.state}}
{% else %}
   no shutdown
{% endif %}
{# !!7060SX2-48YC6 switches have a serious limitation - if any port in each bank of 4 is in 25G mode the other ports in that bank won't come up in 10G #}
{% if value.speed is defined %}
interface {{value.interface}}
   speed forced {{value.speed}}
{% elif ansible_net_model == "DCS-7060SX2-48YC6-R" and value.speed is not defined %}
interface {{value.interface}}
   speed forced 10000full
{% endif %}
{% endfor %}
{% endfor %}
{% endif %}
!
