interface Management0
  ip address {{ ansible_host }}/24

hostname {{ inventory_hostname }}

username admin secret admin
username {{ whoami.stdout }} privilege 15 role network-admin secret 1234
username {{ whoami.stdout }} sshkey {{ ssh_pub_key.stdout }}

service routing protocols model multi-agent
