interface Management0
   ip address {{ansible_host}}/24
   description OOB Management Interface
   exit
   
management api http-commands
   protocol https port 443
   no shutdown 
   !
   vrf default
      no shutdown

