ip routing
!
route-map UNDERLAY-RM permit 10
   match interface Loopback0
!
router bgp {{spine_asn}}
   router-id {{router_id}}
   maximum-paths 3 ecmp 3
   distance bgp 20 200 200
   graceful-restart restart-time 300
   graceful-restart
   bgp listen range {{linknet_summary}} peer-group UNDERLAY remote-as {{leaf_asn}}
   neighbor UNDERLAY fall-over bfd
   neighbor UNDERLAY maximum-routes 100000
   neighbor UNDERLAY allowas-in 1
   neighbor UNDERLAY send-community standard extended
   neighbor UNDERLAY password {{ bgp_password }}
   bgp listen range {{leaf_evpn_loopbacks}} peer-group EVPN remote-as {{leaf_asn}}
   neighbor EVPN next-hop-unchanged
   neighbor EVPN update-source Loopback0
   neighbor EVPN ebgp-multihop 2
   neighbor EVPN send-community standard extended
   neighbor EVPN maximum-routes 100000
   neighbor EVPN password {{ bgp_password }}
   !
   address-family evpn
      neighbor EVPN activate
      exit
   !
   address-family ipv4
      no neighbor EVPN activate
      neighbor UNDERLAY activate
      redistribute connected route-map UNDERLAY-RM
      aggregate-address {{linknet_summary}} summary-only
      exit
   !
